body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
body .form-control {
  border-radius: 0px;
}
body .btn {
  border-radius: 0px;
  font-size: 16px;
}
body #content {
  margin-bottom: 30px;
}
a {
  color: #00b7ff;
}
.problema {
  width: 100%;
  position: relative;
}
.problema .opciones {
  position: absolute;
  right: 0;
  display: inline-block;
}
.inline-block {
  display: inline-block;
}
#form-login input {
  margin-bottom: 10px;
}
