body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
.problema {
  width: 100%;
  position: relative;
}
.problema .opciones {
  position: absolute;
  right: 0;
  display: inline-block;
}
.inline-block {
  display: inline-block;
}
