{% extends '../layout.html' %}
{% block styles %}
{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<div class="text-center">
				<h1>EN2Cloud (beta)</h1>
			</div>
			<form action="/login" method="POST" id="form-login">
				<h2>Inicio de sesión</h2>
				<%= password %>
				<input type="text" placeholder="Usuario" class="form-control" name="email">
				<input type="password" placeholder="Contraseña" class="form-control" name="password">
				<input type="submit" class="btn btn-primary" value="Iniciar sesión">
			</form>
		</div>
	</div>	
</div>
{% endblock %}

{% block scripts %}
{% endblock %}