<!-- Modal -->
<div class="modal fade" id="modal-paciente" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Nuevo paciente</h4>
      </div>
      <div class="modal-body">
        <form action="/" id="form-paciente">
          <label>Nombre</label>
          <input type="text" class="form-control focus" name="nombre" required>
          <label>Primer apellido</label>
          <input type="text" class="form-control" name="apellido_paterno" required>
          <label>Segundo apellido</label>
          <input type="text" class="form-control" name="apellido_materno">
          <label>Sexo</label>
          <select name="sexo" class="form-control" style="width:40%">
            <option value=""></option>
            <option value="M">Masculino</option>
            <option value="F">Femenino</option>
          </select>
          <label>Fecha de nacimiento</label>
          <div class="input-group js_datepicker">
              <input type="text" class="form-control js_fecha" name="fecha_nacimiento" autocomplete="off" required>
              <div class="input-group-addon">
                  <span class="glyphicon glyphicon-th"></span>
              </div>
          </div>
          <label>Teléfono</label>
          <input type="text" class="form-control js_telefono" name="telefono">
          <label>Dirección</label>
          <input type="text" class="form-control" name="direccion">
          <label>Colonia</label>
          <input type="text" class="form-control" name="colonia">
          <label>Ciudad</label>
          <input type="text" class="form-control" name="ciudad">
          <label>Ocupación</label>
          <input type="text" class="form-control" name="ocupacion">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-success" id="btn-guardar-paciente">Guardar</button>
      </div>
    </div>
  </div>
</div>