{% extends '../layout.html' %}

{% block styles %}
{% endblock %}

{% block content %}
<div class="col-sm-6 col-sm-offset-3">
	<form action="/paciente" id="form-paciente">
		<input type="hidden" name="id" value="<%=paciente.id%>">
		<label>Nombre</label>
		<input type="text" class="form-control focus" name="nombre" required value="<%=paciente.nombre%>">
		<label>Primer apellido</label>
		<input type="text" class="form-control" name="apellido_paterno" required value="<%=paciente.apellido_paterno%>">
		<label>Segundo apellido</label>
		<input type="text" class="form-control" name="apellido_materno" value="<%=paciente.apellido_materno%>">
		<label>Sexo</label>
		<input type="hidden" id="hidden-sexo" value="<%=paciente.sexo%>">
		<select name="sexo" class="form-control" style="width:40%" id="sexo">
			<option value=""></option>
			<option value="M">Masculino</option>
			<option value="F">Femenino</option>
		</select>
		<label>Fecha de nacimiento</label>
		<div class="input-group js_datepicker">
			<input type="text" class="form-control js_fecha" name="fecha_nacimiento" autocomplete="off" required value="<%=paciente.fecha_nacimiento%>">
			<div class="input-group-addon">
				<span class="glyphicon glyphicon-th"></span>
			</div>
		</div>
		<label>Teléfono</label>
		<input type="text" class="form-control js_telefono" name="telefono" value="<%=paciente.telefono%>">
		<label>Dirección</label>
		<input type="text" class="form-control" name="direccion" value="<%=paciente.direccion%>">
		<label>Colonia</label>
		<input type="text" class="form-control" name="colonia" value="<%=paciente.ciudad%>">
		<label>Ciudad</label>
		<input type="text" class="form-control" name="ciudad" value="<%=paciente.ciudad%>">
		<label>Ocupación</label>
		<input type="text" class="form-control" name="ocupacion" value="<%=paciente.ocupacion%>">
		<br>
	</form>
	<input type="button" value="Guardar cambios" class="btn btn-success" id="btn-guardar">
	<a href="/pacientes">Regresar</a>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
	$(document).on("ready", function(){
		$("#sexo").val( $("#hidden-sexo").val() );

		$("#btn-guardar").on("click", function(){
			$form = $("#form-paciente");
			$.ajax({
				url: $form.attr("action"),
				data: $form.serialize(),
				type: "PUT",
				dataType: "JSON",
				success: function(data){
					if(data.message){
						bootbox.alert(data.message);
					}
					else {
						bootbox.alert("Paciente editado correctamente");
					}
				}
			});
		});
	});
</script>
{% endblock %}
